<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <!-- SEO meta tags... -->
    <meta name="description" content="{{ .Description }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module">
        if (!('shadowRoot' in Element.prototype)              // old browsers
            || !HTMLTemplateElement.prototype.hasOwnProperty('shadowRootMode')) { // no DSD
            import('https://cdn.jsdelivr.net/npm/@webcomponents/template-shadowroot@1.5.0/template-shadowroot.js');
        }
    </script>

    <link rel="canonical" href="{{ .URL }}">

    <!-- Responsive CSS -->
    <style>
        body {
            margin: 0;
            font-family: sans-serif;
        }

        main {
            padding: 1rem;
        }
    </style>

    <!-- JSON-LD -->
    <script type="application/ld+json">
  {"@context":"https://schema.org","@type":"WebPage","url":"{{ .URL }}","name":"{{ .Title }}","description":"{{ .Description }}"}
  </script>
</head>

<body>
    <header>
        <!-- <h1>{{ .Message }}</h1> -->
    </header>
    <main>
        {{ .W1 }}
    </main>
    <footer>
        <p>© 2025 Example Corp.</p>
    </footer>
</body>

<script src="http://localhost:35729/livereload.js"></script>
<script type="module" defer src="/static/ssr-hello-widget.js"></script>
</html>